{% extends "base.html" %}


{% block content %}
<main class="hero">
    <!-- <div class="hero-img-container">
        <img src="../static/hero img.jpg" alt="hero img" class="hero-img">
    </div> -->
    <div class="hero-text-container">
        <p class="hero-caption">
            Best statistics to bring the market at your fingertips.
        </p>
        <p class="hero-heading">
            Accuracy and precision at its pinnacle.
        </p>
        <a href="#" class="hero-btn">Get Started</a>
    </div>
</main>

<section class="features">
    <div class="features-content">
        <h1 class="heading-1">Why Choose Us?</h1>
        <div class="features-container">
            <div class="feature">
                <p class="feature-head">
                    Easy to Use
                </p>
                <p class="feature-des">
                    The user interface of the site is simple. Manufacturers, people in charge of raw materials and sellers have different IDs but that makes no difference in how they approach the website.
                </p>
                <p class="feature-more">
                    Explore
                </p>
            </div>

            <div class="feature">
                <p class="feature-head">
                    Data driven Analysis
                </p>
                <p class="feature-des">
                    Get the in-market fluctuations anywhere and everywhere, as long as you are logged in. It has never been simpler for the planning of production to become better.
                </p>
                <p class="feature-more">
                    Explore
                </p>
            </div>

            <div class="feature">
                <p class="feature-head">
                    Production line
                </p>
                <p class="feature-des">
                    Tracks the production line from the start i.e. gathering of raw materials to the end of the chocolate supply chain. A revolutionised method of cancelling production losses and keeping in track of everything
                </p>
                <p class="feature-more">
                    Explore
                </p>
            </div>
        </div>

        <div class="main-feature">
            <div class="main-feature-img-container">
                <img src="../static/img 1.png" alt="feature" class="main-feature-img">
            </div>
            <div class="main-feature-text-container">
                    <h2 class="heading-2">Faster. Better. Accurate. </h2>
                    <p class="main-feature-des">
                        Say goodbye to monthly presentation meetings to analyse the market tendencies. Experience the supply and demand of the market at your fingertips.
                    </p>
                    <a href="#" class="main-features-btn">Explore</a>
            </div>
        </div>
    </div>
</section>



<footer class="footer">
    <p class="footer-text">
        Made with ❤️ by Xino
    </p>
</footer>


{% endblock %}
