{% extends "base.html" %}

{% block content %}
    <main class="login-hero">
        <div class="login-content">
            <h1 class="heading-1">Login</h1>
            <form method="post" class="reg-form">
              {{form.hidden_tag()}}
                <div class="input-wrapper">
                    <label for="uname" class="form-label">{{form.email.label}}</label>
                    {{form.email(class="form-input exceptions")}}
                </div>
    
                {%if form.email.errors%} {%for error in form.email.errors%}
                    <small>{{error}}</small>
                {%endfor%} {%endif%}
    
                <div class="input-wrapper">
                    <label for="pass" class="form-label">{{form.password.label}}</label>
                    {{form.password(class="form-input exceptions")}}
                    <small>{{mess}}</small>
                </div>
                {{form.submit(class="btn")}}
            </form>
        </div>
    </main>

{% endblock %}
